/* imports */

@import 'reset.css';


/* Gerais  */
body{
    background-color: #fff;
    color: black;
}

.row{
    margin: 0;

}

.container{
    padding: 70px 0;

}

p, li{
    
    font-size: 20px;
    padding-top: 10%;
}

/* Navbar */

header, .navbar{
    background-color: #fff;
    width: 100%;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 300px;
    height: 110px;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand:hover{
    color: #fff;
}

#navbar-links a{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

/* Sobre a empresa */

#main-area{
    color: black;
}

#area-sobre{
    padding-top: 5%;
}

.p-sobre{
    text-align: center;
    background-image: url(../imagens/logoLunarNegativadaLUA.png);
    background-repeat: no-repeat;
    background-position: center;
}

.about-title{
    padding-top: 10%;
    text-transform: uppercase;
    padding-right: 1rem;
    color: #0D1438;
}

.likemg{
    padding-left: 4rem;
}


.link-lunar{
    text-decoration: none;
    color: #8E8AFF;
}

.link-lunar:hover{
    text-decoration: none;
    color: #040c5e;
}
/* Projetos/meetboo */
#area-meetboo{
    margin-top: 5%;
}

/* .main-title{
    color: rgb(0, 0, 0);
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}*/

.exclu{
    padding-top: 0;
    text-align: center;
    text-transform: none;
    font-size: 40px;
}

.about-meetboo{
    font-weight: bold;
    font-size: 30px;
    padding-top: 20%;
    color: #0D1438;
}

.book{
    padding-right: 5%;
}


.link-meetboo{
    text-decoration: none;
    color: #b76ae5;
}

.link-meetboo:hover{
    text-decoration: none;
    color: #b76ae5;
}

.btn-meetboo{
    padding: 2px 2px;
    border: none;
    border-radius: 30px;
    width: 30%;
    margin-top: 10%;
    background-color: #0D1438;
    color: white;
    cursor: pointer;    
}

.esconde{
    color: #fff;
}
.col-md-6{
    text-align: left;
}

/* Parceiros */

.parceiros-title{
    color: #0D1438;
    text-align: center;
}

.parceiros-desc{
    font-size: 13px;
}

.parceiros{
    width: 45%;
    height: 85%;
    padding-top: 20px;
    opacity: 66%;
}

.parceiros-flex{
    display: flex;
    text-align: center;
}

.sem-flex{
    display: unset;
}


.esquerda-superior{
    border: solid 1px black;
}

.esquerda-inferior{
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;

}

.direita-superior{
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

.direita-inferior{
    border-right: solid 1px black;
    border-bottom: solid 1px black;

}


.parceiros-nome{
    padding-left: 5%;
    padding-top: 5%;
    color: #000F98;
}

.desc-parceiros{
    padding-top: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

/* Time */

.team-title{
    color: rgb(0, 0, 0);
    margin-bottom: 5%;
    text-align: center;
}

.card{
    margin-bottom: 30px;
    border: none;
}

.card-title{
    color: #fff;

}

.card-text{
    padding-top: 0;
    color: #fff;
}


.card-body{
    text-align: center;
}

.ideais{
    background-color: #8E8AFF;
    width: 30%;
    margin-top: 5px;
    margin-bottom: 10px;
    align-self: center;
    border-radius: 90px;
} 

/* Fale Conosco */


.about-contato{
    margin-bottom: 20px;
    color: #0D1438;
}

.input-estilo{
    border: 1px solid;
    margin-bottom: 10px;
    padding-left: 10px;
    background: transparent;
}

.input-estilo::placeholder{
    color: #0D1438;
}

.btn-contato{
    width: 30%;
    border: 1px solid;
    border-style: none;
    height: 35px;
    background-color: #040c5e;
    color: #fff;
    cursor: pointer;
}

footer{
    margin-top: 10%;
}

.contato-footer{
    padding-top: 3%;
}

.footer-redes{
    padding-top: 3%;
}

#copy-area{
    text-align: center;
}

.contato-title{
    padding-top: 30%;
    padding-left: 20px;
    text-align: center;
    font-size: 50px;
}

.envelope{
    padding-left: 8rem;
}

#copy-area{
    background-color: #749cf7;
    color: #fff;
    align-items: center;
}

.termos{
    color: #fff;
    text-decoration: none;
}

.termos:hover{
    color: #0D1438;
    text-decoration: none;
}

.opacidade{
    opacity: 0.3;
    padding-top: 0;
    font-size: 15px;
}

.logo-footer{
    margin-top: 40px;
    margin-bottom: 40px;
}

.texto-footer{
    margin-top: 45px;
    font-size: 20px;
}

.link-footer{
    text-decoration: none;
    color: #fff;
    margin-right: 2px;
    margin-left: 2px;
}

.link-footer:hover{
    text-decoration: none;
    color: #040c5e;

}

.icones-footer{
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
    color: #fff;
}

.icones-footer:hover{
    color: #040c5e;
}

.news-estilo{
    border: 1px solid #fff;
    background-color: transparent;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 10%;
    outline: none;
    transition: 0.8s;
}

.news-estilo::placeholder{
    color: #fff;
}

.news-estilo:focus{
    background: #040c5e;
    transition: 0.8s;
}

.news-btn{
    height: 30px;
    width: 20%;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
}

.news-btn:hover{
    transition: 1s;
    background: #040c5e;
}