/* imports */

@import 'reset.css';


/* Gerais  */
body{
    background-color: #fff;
    color: black;
}

.row{
    margin: 0;

}

.container{
    padding: 70px 0;

}

p, li{
    
    font-size: 20px;
    padding-top: 10%;
}

/* Navbar */

header, .navbar{
    background-color: #fff;
    width: 100%;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 300px;
    height: 110px;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand:hover{
    color: #fff;
}

#navbar-links a{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

/* Sobre a empresa */

#main-area{
    color: black;
}

#area-sobre{
    padding-top: 5%;
}

.p-sobre{
    text-align: center;
    background-image: url(../imagens/logoLunarNegativadaLUA.png);
    background-repeat: no-repeat;
    background-position: center;
}

.about-title{
    padding-top: 30%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}


.link-lunar{
    text-decoration: none;
    color: #040c5e;
}

.link-lunar:hover{
    text-decoration: none;
    color: #040c5e;
}
/* Projetos/meetboo */
#area-meetboo{
    margin-top: 5%;
}

/* .main-title{
    color: rgb(0, 0, 0);
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}*/

.exclu{
    padding-top: 0;
    text-align: center;
    text-transform: none;
}

.about-meetboo{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20%;
}

.book{
    padding-right: 5%;
}


.link-meetboo{
    text-decoration: none;
    color: #b76ae5;
}

.link-meetboo:hover{
    text-decoration: none;
    color: #b76ae5;
}

.btn-meetboo{
    padding: 2px 2px;
    border: 2px solid #b76ae5;
    border-radius: 10%;
    width: 20%;
    margin-top: 10%;
    background-color: #d298f4;
    cursor: pointer;    
}

.esconde{
    color: #fff;
}
.col-md-6{
    text-align: left;
}

/* Parceiros */

.about-parceiros{
    padding-left: 8rem;
    text-align: center;
}

.nuvem{
    padding-left: 8rem;
    opacity: 0.5;
}

.area-logos{
    padding-top: 8%;
}
.parceiros{
    width: 110%;
    height: 90%;
}

/* Time */

.team-title{
    color: rgb(0, 0, 0);
    margin-bottom: 5%;
    text-align: center;
}

.card{
    margin-bottom: 30px;
    border: 2px solid #040c5e;
}

.card-esconde{
    display: none;
}

.card-title{
    color: #040c5e;

}

.card-text{
    padding-top: 0;
}

.card-body{
    text-align: center;
    border-top: 2px solid #040c5e;
}

/* Fale Conosco */

#contato-area{
    border-top: 10px solid #040c5e;
    border-bottom: 10px solid #040c5e;
}

.about-contato{
    margin-bottom: 20px;
}

.input-estilo{
    border-radius: 30px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-color:rgb(211, 210, 210);
}

.btn-contato{
    width: 100%;
    border-radius: 30px;
    border-style: none;
    height: 50px;
    background-color: #040c5e;
    color: #fff;
    cursor: pointer;
}

.footer-redes{
    padding-top: 5%;
}

#copy-area{
    text-align: center;
}

.contato-title{
    padding-top: 30%;
    padding-left: 20px;
    text-align: center;
    font-size: 50px;
}